.colm {
  display: flex;
  margin: 10px;
}

.todo,
.inProgress,
.done {
  margin-left: 20px;
}
li {
  height: 100%;
  width: 100%;
  padding: 10px;
  margin-bottom: 4px;
  border: 1px solid rgb(223, 196, 205);
}
